{
    "parser": "@TypeScript-eslint/parser" ,
    "parserOptions": {
        "ecmaVersion": 13,
        "sourceType": "module"
    },
    "plugins": ["@TypeScript-eslint"],
    "extends":["eslint:recommended", "plugin:@typescript-eslint/recommended","prettier"],
    "rules": {
        "@typescript-eslint/no-unused-vars":"error" ,
        "@typescript-eslint/consistent-type-assertions":["error", "type"]
    },
    "env": {
        "browser": true,
        "es2021":true
    }


}